{% include "chead.html" %}
<div class="container-fluid ">
    <div class="row ">
        <div class="col-md-6 mt-5">
            <img src="https://as1.ftcdn.net/v2/jpg/06/20/07/24/1000_F_620072482_akxN6M3rc2veDmKGdZXPmwCCLkug1W38.jpg" style="height:90%;width:90%">
        </div>
        <div class="col-md-4">
             <div class="text-center  h2 m-3">welcome {{customer[1]}}</div>
            <div class="card p-2 mt-2 text-center">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8XHcngVONWqKATB8hOuO0GhItmIXIfGflTKqMuLSt6dV73i3caFKmfLcGUGUI5oC1658&usqp=CAU">
                </div>
                <div>Name:- {{customer[1]}}</div>
                <div>Email:- {{customer[2]}}</div>
                <div>Phone Number:- {{customer[4]}}</div>
                <div>Gender:- {{customer[5]}}</div>
                <div>Address:- {{customer[6]}}</div>
                <div>Verification Status:- {{customer[7]}}</div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>