{% include "dhead.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="text-center h2 m-3">welcome {{deliveryboy[1]}}</div>
             <div class="card mt-2 text-center">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8XHcngVONWqKATB8hOuO0GhItmIXIfGflTKqMuLSt6dV73i3caFKmfLcGUGUI5oC1658&usqp=CAU" >
                </div>
                <div>Name:- {{deliveryboy[1]}}</div>
                <div>Email:-{{deliveryboy[2]}}</div>
                <div>Phone Number:- {{deliveryboy[4]}}</div>
                <div>Verification Status:- {{deliveryboy[5]}}</div>
            </div>
        </div>
        <div class="col-md-8 ">
            <img src="https://img.freepik.com/free-vector/way-concept-illustration_114360-1191.jpg?w=740&t=st=1696831430~exp=1696832030~hmac=6a749d543db24a2d35ab8758abadd64a1b24446cdf3f92dc3c5a9eba9e32b8ff" style="width:100%">
        </div>
    </div>
</div>

