 {% include "fhead.html" %}
<div class="container-fluid div1">
    <div class="text-center h2 m-3">welcome {{truck[1]}}</div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card p-2 mt-2 text-center">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8XHcngVONWqKATB8hOuO0GhItmIXIfGflTKqMuLSt6dV73i3caFKmfLcGUGUI5oC1658&usqp=CAU">
                </div>
                <div>Title:-{{truck[1]}}</div>
                <div>Name:- {{truck[2]}}</div>
                <div>Email:- {{truck[3]}}</div>
                <div>Phone Number:- {{truck[5]}}</div>
                <div>Verification Status:- {{truck[6]}}</div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

