{% include "chead.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <img src="https://img.freepik.com/free-vector/emotional-feedback-concept-illustration_114360-17635.jpg?w=740&t=st=1696834589~exp=1696835189~hmac=85f3a5f72598d9bc0366c7023a8016b8dcac2a00bcb1ded7833e82e8013acc2e" style="height:90%;width:70%">
        </div>
        <div class="col-md-4 mt-5">
            <div class="card p-4 mt-3 ">
                 <form action="give_review_action">
                     <div class="text-center h3">Reviews</div>
                    <input type="hidden" name="customer_order_item_id"  value="{{customer_order_item_id}}">
                     <div class="mt-3">
                            <label>Rating</label>
                            <select name="rating" id="rating" class="form-control" required>
                                <option value="">Choose Rating</option>
                                <option>5</option>
                                <option>4</option>
                                <option>3</option>
                                <option>2</option>
                                <option>1</option>
                            </select>
                     </div>
                     <div class="mt-3">
                         <label>Review</label>
                         <textarea id="review" name="review"  class="form-control" required ></textarea>
                     </div>
                    <div class="mt-3">
                        <input type="submit" value="Submit Review" class="btn btn-success form-control w-100">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>